<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Star Wars Quote App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

<body>
<h1>Result analytics</h1>

<canvas id="oilChart" width="600" height="400"></canvas>

</body>

<script>
    var oilCanvas = document.getElementById("oilChart");

    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 18;

    var oilData = {
        labels: <%- JSON.stringify(Object.keys(pieData)) %>,
        datasets: [
            {
                data: <%- JSON.stringify(Object.values(pieData)) %>,
                backgroundColor: [
                    "#FF6384",
                    "#63FF84",
                    "#84FF63",
                    "#8463FF",
                    "#8463AF",
                    "#84635F",
                    "#6384FF"
                ]
            }]
    };

    console.log(<%- JSON.stringify(Object.values(pieData)) %>)

    var pieChart = new Chart(oilCanvas, {
        type: 'pie',
        data: oilData
    });
</script>
</html>